<h1>Edit <%= @movies.title%></h1>
<form action="/movies/<%= @movies.id %>" method="post">
	<div>
		<label>Title:</label>
		<input type="text" name="movie[title]" value="<%= @movies.title%>">
	</div>
	<div>
		<label>Duration:</label>
		<input type="text" name="movie[duration]" value="<%= @movies.duration%>">
	</div>
	<div>
		<label>Rating:</label>
		<input type="text" name="movie[rating]" value="<%= @movies.rating%>">
	</div>
	<div>
		<label>Release Date:</label>
		<input type="text" name="movie[release_date]" value="<%= @movies.release_date%>">
	</div>
	<input type="submit" value="Update">
</form>
<% if flash[:errors] %>
	<% flash[:errors].each do |e| %>
	<div><%= e %><div>
	<%end%>
<%end%>